version: '3.8'

services:
  todo-app:
    image: todo-list-app:latest
    container_name: todo-app
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: always
    volumes:
      - ./app-data:/app/data   # أي حاجة جوه container /app/data هتتخزن على VM
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000"]
      interval: 30s
      timeout: 10s
      retries: 3

