apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: todo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: mernathawy/todo-list-app:latest
          imagePullPolicy: IfNotPresent   # مهم هنا
          ports:
            - containerPort: 4000

